<header>
    <div class="container_1">

        <div class="box_1">
            <img src="../../../assets/Logo/SAFA_Main_Logo.png" alt="SAFA_Logo">
            <div class="search-container">
                <input type="text" placeholder="Search">
                <div class="search-icon">
                    <i class="pi pi-search"></i>
                </div>
            </div>
        </div>

        <div class="box_2">
            <i class="pi pi-user"></i>
            <i class="pi pi-heart"></i>
            <i class="pi pi-shopping-bag"></i>
            <span class="pkrSpan">
                <i class="pi pi-dollar"></i>
                <span class="pkrValueSpan">1.00</span>
            </span>
        </div>

    </div>
    <div class="container_2">

        <div class="box_1">

            <div class="all-categories">
                <i class="pi pi-bars"></i>
                All Categories
            </div>

            <div class="router-links-container">
                <span>Home</span>
                <span>Specials</span>
                <span>Contact</span>
            </div>

        </div>
        <div class="box_2">
            Welcome you to SAFA!
            Shop Till You Drop.
        </div>

    </div>
</header>