<header>
    <div class="container_1" id="main">
        <p-sidebar [(visible)]="sidebarVisible">
            <h3 routerLink="home" (click)="sidebarVisible = false"F>Home</h3>
            <h3 routerLink="contact" (click)="sidebarVisible = false">Contact</h3>
        </p-sidebar>
        <div class="box_1">
            <img routerLink="home" style="cursor: pointer;" src="../../../assets/Logo/SAFA_Main_Logo.png"
                alt="SAFA_Logo">
            <div class="search-container">
                <input type="text" #search [ngModel]="searchInput" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search">
                <div class="search-icon" (click)="submitSearch(search.value)">
                    <i class="pi pi-search"></i>
                </div>
                <ul class="search-result" *ngIf="searchList">
                    <li *ngFor="let item of searchList" (click)="submitSearch(item.name)">{{ item.name }}</li>
                </ul>
            </div>
        </div>

        <div class="box_2">

            <div class="user">
                <i class="pi pi-user" (click)="userDropdown = !userDropdown"></i>
                <div class=" pi-user-drop-down" *ngIf="userDropdown == true" (click)="userDropdown = false">
                    <div class="box" routerLink="profile" *ngIf="IsUserSignedUp == true || IsUserLoggedIn == true">
                        <i class="pi pi-user"></i>
                        Profile
                    </div>
                    <div class="box" routerLink="add-product" *ngIf="IsUserSignedUp == true || IsUserLoggedIn == true">
                        <i class="pi pi-plus"></i>
                        Add Product
                    </div>
                    <div class="box" routerLink="product-list" *ngIf="IsUserSignedUp == true || IsUserLoggedIn == true">
                        <i class="pi pi-list"></i>
                        Product List
                    </div>
                    <div class="box" (click)="logOut()" *ngIf="IsUserSignedUp == true || IsUserLoggedIn == true">
                        <i class="pi pi-sign-out"></i>
                        Log Out
                    </div>
                    <div class="box" routerLink="login" *ngIf="IsUserSignedUp == false && IsUserLoggedIn == false">
                        <i class="pi pi-user-edit"></i>
                        Login
                    </div>
                    <div class="box" routerLink="signup" *ngIf="IsUserSignedUp == false && IsUserLoggedIn == false">
                        <i class="pi pi-user-plus"></i>
                        Register
                    </div>
                </div>
            </div>

            <i class="pi pi-heart" [routerLink]="cartItems>0?'cart-detail':null" *ngIf="IsUserSignedUp == true || IsUserLoggedIn == true">
                <div class="number">{{cartItems}}</div>
            </i>
            <i class="pi pi-shopping-bag" routerLink="order" *ngIf="IsUserSignedUp == true || IsUserLoggedIn == true">
            </i>
            <i (click)="sidebarVisible = true" class="pi pi-bars"></i>
        </div>

    </div>
    <div class="container_2">

        <div class="box_1">

            <div class="router-links-container">
                <span routerLinkActive="active" routerLink="home">Home</span>
                <span routerLinkActive="active" routerLink="contact">Contact</span>
            </div>

        </div>
        <div class="box_2">Shop Till You Drop...</div>

    </div>
</header>