header {
    width: 100%;

    .container_1 {
        width: 90%;
        margin: auto;
        padding: 25px 0;
        display: flex;

        p-sidebar {
            h3 {
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 20px;

                &:hover {
                    color: var(--main_rgb_1);
                }
            }
        }

        .box_1 {
            width: 60%;
            display: flex;
            justify-content: stretch;
            align-items: center;
            gap: 20px;

            img {
                height: 50px;
            }

            .search-container {
                width: 60%;
                display: flex;
                padding: 3px;
                height: 45px;
                background-image: linear-gradient(to right, var(--main_rgb_2) 0%, var(--main_rgb_1) 100%);
                border-radius: 50px;
                position: relative;

                input {
                    width: 80%;
                    font-size: 14px;
                    padding: 0 10px;
                    border: none;
                    outline: none;
                    border-radius: 50px 0 0 50px;
                }

                .search-result {
                    position: absolute;
                    font-family: 'Open Sans', sans-serif;
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    top: 100%;
                    left: 10px;
                    z-index: 1000;
                    width: 78%;

                    li {
                        list-style: none;
                        padding: 10px;
                        cursor: pointer;
                        border-bottom: 1px solid #eee;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: var(--main_rgb_1);
                            color: #fff;
                        }
                    }
                }

                .search-icon {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    i {
                        transition: all .3s ease-in-out;
                        color: var(--white);
                        font-size: 18px;
                    }

                    &:hover i {
                        color: black;
                    }
                }

            }
        }

        .box_2 {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .user {
                position: relative;
            }

            .pi-user-drop-down {
                position: absolute;
                z-index: 10000;
                font-family: 'Open Sans', sans-serif;
                top: 110%;
                right: 100%;
                background-color: #fff;
                padding: 10px;
                border-radius: 10px;
                width: max-content;
                border: 1px solid var(--main_rgb_1);

                .box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    font-size: 14px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;
                    cursor: pointer;
                    transition: all .3s ease-in-out !important;

                    i {
                        transition: none;
                    }

                    &:hover {
                        background-color: #e7e7e7;
                        color: var(--main_rgb_1);
                    }
                }
            }

            .pi-bars {
                display: none;
            }

            i {
                font-size: 25px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                position: relative;

                .number {
                    position: absolute;
                    font-size: 10px;
                    top: 0;
                    right: -5px;
                    color: black;
                    background-color: var(--main_rgb_1);
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    color: var(--main_rgb_2);
                }
            }
        }
    }

    .container_2 {
        width: 100%;
        padding: 0 5%;
        background-image: linear-gradient(to right, var(--main_rgb_1) 0%, var(--main_rgb_2) 100%);
        display: flex;
        justify-content: space-between;


        .box_1 {
            display: flex;

            .router-links-container {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    height: 50px;
                    color: black;
                    padding: 15px;
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                    position: relative;
                    transition: all .2s ease-in-out;

                    &:hover {
                        color: white;

                        &::after {
                            width: 50%;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 10px;
                        left: 16px;
                        height: 3px;
                        width: 0%;
                        background-color: white;
                        transition: width 0.3s ease;
                    }

                    &.active {
                        color: white;

                        &::after {
                            width: 25%;
                        }

                    }
                }
            }

        }

        .box_2 {
            height: 50px;
            color: black;
            padding: 15px;
            font-family: 'Open Sans', sans-serif;

        }
    }
}

@media (max-width:1000px) {
    .container_1 {
        position: relative;
        padding: 25px 0 55px !important;

        .search-container {
            position: absolute !important;
            width: 100% !important;
            bottom: 0;
        }

        .box_1 {
            img {
                height: 40px !important;
            }
        }

        .box_2 {
            .pi-bars {
                display: inline-block !important;
            }
        }
    }

    .container_2 {
        display: none !important;
    }
}