<div class="container">
    <div class="black-overlay">
        <div class="home-text">
            <h2 style="color: var(--main);text-transform: uppercase;">Welcome to the SAFA</h2>
            <h1>Your Safety, Our Priority</h1>
            <h3>Excludes prohibited items and illegal transactions.</h3>
            <a href="#">Shop Now</a>
        </div>
    </div>
</div>
<div class="daily-deal-container">
    <div class="header">
        <h3>Daily Deals</h3>
        <div class="btn">
            <i class="pi pi-angle-left"></i>
            <i class="pi pi-angle-right"></i>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="img-container">
                <img class="main-img" src="../../../assets/Img/Category/img-5.jpg">
                <div class="img-box">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-5-1.jpg">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-5-2.jpg">
                </div>
            </div>
            <div class="text-container">
                <h6>Knife</h6>
                <h1>Hunting Knife</h1>
                <span>$122.00</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis.</p>
                <div class="icons">
                    <i class="pi pi-cart-plus"></i>
                    <i class="pi pi-heart"></i>
                </div>
                <div class="time">
                    <span>758 D  :</span>
                    <span> 8 H  :</span>
                    <span> 21 M  :</span>
                    <span class="sec"> 30 S</span>
                </div>
                <div class="stock">
                    <span>Availability : </span>
                    <h6>298 In Stocks</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img class="main-img" src="../../../assets/Img/Category/img-4.jpg">
                <div class="img-box">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-4-1.jpg">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-4-2.jpg">
                </div>
            </div>
            <div class="text-container">
                <h6>Rifle</h6>
                <h1>Assault Rifle M-16</h1>
                <span>$500.00</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis.</p>
                <div class="icons">
                    <i class="pi pi-cart-plus"></i>
                    <i class="pi pi-heart"></i>
                </div>
                <div class="time">
                    <span>758 D  :</span>
                    <span> 8 H  :</span>
                    <span> 21 M  :</span>
                    <span class="sec"> 30 S</span>
                </div>
                <div class="stock">
                    <span>Availability : </span>
                    <h6>298 In Stocks</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-container">
    <div class="black-overlay">
        <div class="header">
            <h3>Our Category</h3>
            <div class="btn">
                <i class="pi pi-angle-left"></i>
                <i class="pi pi-angle-right"></i>
            </div>
        </div>
        <div class="card-container">
            <div class="card" *ngFor="let card of categories">
                <img src="{{card.img}}">
                <div class="card-text">
                    <h3>{{card.type}}</h3>
                    <span>{{card.name[0]}}</span>
                    <span>{{card.name[1]}}</span>
                    <span>{{card.name[2]}}</span>
                    <span>{{card.name[3]}}</span>
                    <span class="button">View More
                        <i class="fa-solid fa-play"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="special-product-container">
    <div class="header">
        <h3>Special Products</h3>
    </div>
    <div class="card-container">
        <div class="ad-card">
            <div class="black-overlay">
                <h3>Performance</h3>
                <h1>Original Parts And Accessories For Toyato</h1>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
        <div class="card" *ngFor="let card of specialProducts">
            <img src="{{card.img}}" alt="">
            <div class="card-text">
                <span>{{card.type}}</span>
                <h3>{{card.name}}</h3>
                <div class="rate">${{card.rate}}.00</div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial-container">
    <div class="black-overlay">
        <div class="testimonial-text">
            <i class="pi pi-angle-left left"></i>
            <i class="pi pi-angle-right right"></i>
            <h3>Client <span>Testimonials</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sint laudantium ab explicabo cupiditate
                temporibus amet accusamus sequi harum quidem.</p>
            <div class="profile">
                <img src="../../../assets/Img/Latest Blog/img-1.jpg" class="profile-img">
                <div class="profile-text">
                    <div class="name">MR. Nobody</div>
                    <div class="post">Sniper</div>
                </div>
        </div>
    </div>
</div>

<div class="latest-blog-container">
    <div class="header">
        <h3>Latest Blog</h3>
        <div class="btn">
            <i class="pi pi-angle-left"></i>
            <i class="pi pi-angle-right"></i>
        </div>
    </div>
    <div class="card-container">
        <div class="card" *ngFor="let card of latestBlogCards">
            <img src="{{card.img}}">
            <div class="card-title">{{card.title}}</div>
            <div class="-desc">{{card.desc}}</div>
            <div class="date">
                <h3>{{card.date}}</h3>
                <span>{{card.month}}</span>
            </div>
        </div>
    </div>
</div>

<div class="rules-container">
    <div class="rules-box" *ngFor="let rule of delieveryRulesBoxes">
        <img src="{{rule.img}}">
        <div class="rules-text">
            <h3>{{rule.title}}</h3>
            <p>{{rule.desc}}</p>
        </div>
    </div>
</div>

<div class="news-letter-container">
    <div class="news-letter-text">
        Our Latest Newsletter
    </div>
    <div class="news-letter-subscribe-bar">
        <div class="search-container">
            <input type="text" placeholder="Your email address">
            <div class="search-icon">
                Subscribe
            </div>
        </div>
    </div>
    <div class="news-letter-social-media">
        <span>Follow us :</span>
        <i class="pi pi-facebook"></i>
        <i class="pi pi-twitter"></i>
        <i class="pi pi-youtube"></i>
        <i class="fa-brands fa-pinterest-p"></i>
    </div>
</div>