<div class="container">
    <div class="black-overlay">
        <div class="home-text">
            <h2 style="color: var(--main);text-transform: uppercase;">Welcome to the SAFA</h2>
            <h1>Your Safety, Our Priority</h1>
            <h3>Excludes prohibited items and illegal transactions.</h3>
            <a href="#">Shop Now</a>
        </div>
    </div>
</div>
<div class="popular-product-container">
    <div class="header">
        <h3>Popular Product</h3>
        <div class="btn">
            <i class="pi pi-angle-left" (click)="popArrowFunc('prev','popular')"></i>
            <i class="pi pi-angle-right" (click)="popArrowFunc('next','popular')"></i>
        </div>
    </div>
    <div class="header-2">
        <div class="buttons">
            <span [class.active]="popular_Id === 0" (click)="popFunc(0)">Featured</span>
            <span [class.active]="popular_Id === 1" (click)="popFunc(1)">Bestseller</span>
            <span [class.active]="popular_Id === 2" (click)="popFunc(2)">Latest</span>
        </div>
    </div>
    <div class="card-container">
        <div class="card" *ngFor="let card of popularFeatured[popular_Id]">
            <img src="{{card.img}}">
            <div class="card-text">
                <div class="type">{{card.type}}</div>
                <div class="name">{{card.name}}</div>
                <div class="rate">${{card.rate}}.00</div>
            </div>
        </div>
    </div>
</div>

<div class="discover-container container">
    <div class="black-overlay">
        <div class="home-text">
            <h2 style="color: var(--main);text-transform: uppercase;">What Arsenal</h2>
            <h1>Sales Up To 50% Off</h1>
            <a href="#">Discover Now</a>
        </div>
    </div>
</div>
<div class="daily-deal-container">
    <div class="header">
        <h3>Daily Deals</h3>
        <div class="btn">
            <i class="pi pi-angle-left"></i>
            <i class="pi pi-angle-right"></i>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="img-container">
                <img class="main-img" src="../../../assets/Img/Category/img-5.jpg">
                <div class="img-box">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-5-1.jpg">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-5-2.jpg">
                </div>
            </div>
            <div class="text-container">
                <h6>Knife</h6>
                <h1>Hunting Knife</h1>
                <span>$52.00</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis.</p>
                <div class="icons">
                    <i class="pi pi-cart-plus"></i>
                    <i class="pi pi-heart"></i>
                </div>
                <div class="time">
                    <span>758 D :</span>
                    <span> 8 H :</span>
                    <span> 21 M :</span>
                    <span class="sec"> 30 S</span>
                </div>
                <div class="stock">
                    <span>Availability : </span>
                    <h6>298 In Stocks</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img class="main-img" src="../../../assets/Img/Category/img-4.jpg">
                <div class="img-box">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-4-1.jpg">
                    <img class="secondary-img" src="../../../assets/Img/Category/img-4-2.jpg">
                </div>
            </div>
            <div class="text-container">
                <h6>Rifle</h6>
                <h1>Assault Rifle M-16</h1>
                <span>$500.00</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis.</p>
                <div class="icons">
                    <i class="pi pi-cart-plus"></i>
                    <i class="pi pi-heart"></i>
                </div>
                <div class="time">
                    <span>758 D :</span>
                    <span> 8 H :</span>
                    <span> 21 M :</span>
                    <span class="sec"> 30 S</span>
                </div>
                <div class="stock">
                    <span>Availability : </span>
                    <h6>298 In Stocks</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-container">
    <div class="black-overlay">
        <div class="header">
            <h3>Our Category</h3>
        </div>
        <div class="card-container">
            <div class="card" *ngFor="let card of categories">
                <img src="{{card.img}}">
                <div class="card-text">
                    <h3>{{card.type}}</h3>
                    <span>{{card.name[0]}}</span>
                    <span>{{card.name[1]}}</span>
                    <span>{{card.name[2]}}</span>
                    <span>{{card.name[3]}}</span>
                    <span class="button">View More
                        <i class="fa-solid fa-play"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="special-product-container">
    <div class="header">
        <h3>Special Products</h3>
    </div>
    <div class="card-container">
        <div class="ad-card">
            <div class="black-overlay">
                <h3>Armory Arsenal</h3>
                <h1>Empower your arsenal with Armory.</h1>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
        <div class="card" *ngFor="let card of specialProducts">
            <img src="{{card.img}}" alt="">
            <div class="card-text">
                <span>{{card.type}}</span>
                <h3>{{card.name}}</h3>
                <div class="rate">${{card.rate}}.00</div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial-container">
    <div class="black-overlay">
        <div class="testimonial-text">
            <i class="pi pi-angle-left left" (click)="popArrowFunc('prev','profile')"></i>
            <i class="pi pi-angle-right right" (click)="popArrowFunc('prev','profile')"></i>
            <h3>Client <span>Testimonials</span></h3>
            <p>{{profiles[profile_Id].text}}</p>
            <div class="profile">
                <img src="{{profiles[profile_Id].img}}" class="profile-img">
                <div class="profile-text">
                    <div class="name">{{profiles[profile_Id].name}}</div>
                    <div class="post">{{profiles[profile_Id].post}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="latest-blog-container">
    <div class="header">
        <h3>Latest Blog</h3>
    </div>
    <div class="card-container">
        <div class="card" *ngFor="let card of latestBlogCards">
            <img src="{{card.img}}">
            <div class="card-title">{{card.title}}</div>
            <div class="-desc">{{card.desc}}</div>
            <div class="date">
                <h3>{{card.date}}</h3>
                <span>{{card.month}}</span>
            </div>
        </div>
    </div>
</div>

<div class="rules-container">
    <div class="rules-box" *ngFor="let rule of delieveryRulesBoxes">
        <img src="{{rule.img}}">
        <div class="rules-text">
            <h3>{{rule.title}}</h3>
            <p>{{rule.desc}}</p>
        </div>
    </div>
</div>

<div class="news-letter-container">
    <div class="news-letter-text">
        Our Latest Newsletter
    </div>
    <div class="news-letter-subscribe-bar">
        <div class="search-container">
            <input type="text" placeholder="Your email address">
            <div class="search-icon">
                Subscribe
            </div>
        </div>
    </div>
    <div class="news-letter-social-media">
        <span>Follow us :</span>
        <i class="pi pi-facebook"></i>
        <i class="pi pi-twitter"></i>
        <i class="pi pi-youtube"></i>
        <i class="fa-brands fa-pinterest-p"></i>
    </div>
</div>