<div class="profile-container">
    <div class="header">
        <h3>Profile</h3>
    </div>
    <fieldset>
        <legend>Data</legend>
        <div class="profile-box">
            <div class="main-box">
                <div class="box">
                    <h6>ID :</h6>
                    <span>{{user.id}}</span>
                </div>
                <div class="box">
                    <h6>Name :</h6>
                    <span>{{user.Name}}</span>
                </div>
                <div class="box">
                    <h6>Email :</h6>
                    <span>{{user.Email}}</span>
                </div>
                <div class="box">
                    <h6>Password :</h6>
                    <span>{{user.Password}}</span>
                </div>
            </div>
        </div>
    </fieldset>
</div>