/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

*{
    padding: 0;
    margin: 0;
}
:root{
    --white:#fff;
    --main:#F1AD0F;
    --main_rgb_1:rgb(251, 176, 64);
    --main_rgb_2:rgb(249, 237, 50);
}